# Milestone 2
Frederik Kallestrup Mastratis (qln174)  
Dongyu Liu (dlf327)  
Shamim Tariq Akram (zmx145)  
Celina Aurora Nguyen (szf345)  

Group 21

## Task 1



A(_id_, domain, type, url, content, timestamps, title, summary)

T(_id_:int, _tagid_:string)

AU(_id_:int, _name_:string)

K(_id_, _keyword_:string)

MK(_id_, _keyword_:string)

In [21]:
import psycopg2
import numpy as np
import pandas as pd

tables = ["artikel", "tags", "keywords", "metakeywords"]

sql_table_commands = [
    """ 
    CREATE TABLE artikel (
        id INT, 
        domain VARCHAR(50), 
        type VARCHAR(20), 
        url VARCHAR, 
        content VARCHAR, 
        scraped_at TIMESTAMP, 
        inserted_at TIMESTAMP,
        updated_at TIMESTAMP, 
        title VARCHAR (256), 
        meta_description VARCHAR, 
        summary VARCHAR, 
        PRIMARY KEY (id) 
    )
    """
    ,
    """ 
    CREATE TABLE tags (
        a_id INT, 
        tag VARCHAR(50), 
        PRIMARY KEY (a_id, tag),
        FOREIGN KEY (a_id)
          REFERENCES artikel (id)
          ON UPDATE CASCADE ON DELETE CASCADE

    )
    """
    ,
    """
    CREATE TABLE keywords (
        a_id INT, 
        keyword VARCHAR(50),
        PRIMARY KEY (a_id, keyword),
        FOREIGN KEY (a_id)
          REFERENCES artikel (id)
          ON UPDATE CASCADE ON DELETE CASCADE
    )
    """
    ,
    """
    CREATE TABLE metakeywords (
        a_id INT, 
        mkeyword VARCHAR(50),
        PRIMARY KEY (a_id, mkeyword),
        FOREIGN KEY (a_id)
          REFERENCES artikel (id)
          ON UPDATE CASCADE ON DELETE CASCADE
    )
    """
]



conn = psycopg2.connect(dbname="fakenewsdb", user="postgres", password="1234")

cursor = conn.cursor()

for table in tables:
    cursor.execute("DROP TABLE " + table + " CASCADE")


for command in sql_table_commands:
    cursor.execute(command)

conn.commit()
conn.close()



"CREATE TABLE artikel(id INT, domain STRING, type STRING, url STRING, content STRING, scraped_at TIMESTAMP, inserted_at TIMESTAMP, updated_at TIMESTAMP, title STRING, meta_description STRING, summary STRING, source STRING, PRIMARY KEY (id))"
"CREATE TABLE tags(a_id INT, tag STRING, PRIMARY KEY (a_id, tag))"
"CREATE TABLE keywords(a_id INT, keyword STRING, PRIMARY KEY (a_id, keyword))"
"CREATE TABLE metakeywords(a_id INT, mkeyword STRING,PRIMARY KEY (a_id, mkeyword))"



#Read CSV
data = pd.read_csv("1mio-raw.csv", delimiter=",", nrows=100)
print(data.keys())

Index(['Unnamed: 0', 'id', 'domain', 'type', 'url', 'content', 'scraped_at',
       'inserted_at', 'updated_at', 'title', 'authors', 'keywords',
       'meta_keywords', 'meta_description', 'tags', 'summary', 'source'],
      dtype='object')

In [10]:


def projectrow2tuple(fields, row):
    return tuple(map(lambda f: row[f], fields))

def insertstring(table, n):
    return "INSERT INTO {} VALUES ({})".format(table, ", ".join(map(lambda _: '%s', range(n))))
    


def insert_csv2rows(csv_row):
    A_domain = ['id', 'domain', 'type', 'url', 'content', 'scraped_at',
       'inserted_at', 'updated_at', 'title', 'meta_description', 'tags', 'summary', 'source']
    AU_domain = ['id', 'tags']
    K_domain = ['id', 'keywords']
    MK_domain = ['id', 'meta_keywords']
    
    Atuple = projectrow2tuple(A_domain, csv_row)
    (id, tags) = projectrow2tuple(AU_domain, csv_row)
    (_, kws) = projectrow2tuple(K_domain, csv_row)
    (_, mkws) = projectrow2tuple(MK_domain, csv_row)

    Ainsert = insertstring("A", len(Atuple))
    AUinsert = insertstring("AU", 2)
    Kinsert = insertstring("K", 2)
    MKinsert = insertstring("MK", 2)
    
    


#For each line
    #Insert appropriate rows in DB





#qurrey the database

('id', 'tags')

In [7]:
len(['id', 'domain', 'type', 'url', 'content', 'scraped_at',
       'inserted_at', 'updated_at', 'title', 'meta_description', 'tags', 'summary', 'source'])

13